<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    
    <p>Dear <%= @candidate.name %>!</p>
  <p>We acknowledge the receipt of and thank you for your application to our company. As a result of your application, we would like to invite you to attend an interview:</p>
  <ul>
    <li>Position: <%=@candidate.job.name%></li>
    <li>Date: <%=@candidate.date_to_interview%></li>
    <li>Address: 3rd Floor, A area, Bcons Tower, 4a/167a, D1 (Nguyen Van Thuong) Street, Ward 25, Binh Thanh District, HCMC</li>
    <li>Phone number: 028 3899 0987</li>
    <li>Website: http://www.edge-works.net/</li>
    <li>Fanpage: https://www.facebook.com/EdgeWorksSoftware/</li>
    <li>Interviewers: Mr. Bao Khuu (Project Manager)</li>
    <li>Brief information about EdgeWorks: A German software research and development company, established in 2007. Our founder is Mr. Jochen Nessel, one of the most well-known people in Machine Learning field. EdgeWorks German offers candidates a European working environment, many development opportunities, and a wide-range of foreign projects from E-commerce, Service, Industrial to Education with German quality standards. At EdgeWorks, you are free to learn, to grow, to have a clear career path and your voice will always be listened.</li>
  </ul>
  <p>For more information, please contact the HR Department. If the date or time of the interview is inconvenient, please contact us or email in order to arrange another appointment.</p>
  <p>We look forward to seeing you.</p>
  <p>Best regards,</p>
  </body>
</html>