<%=render "shared/header"%>
<main>
<!-- slider Area Start-->
<div class="slider-area position-relative">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider">
            <div class="slider-cap-wrapper">
                <div class="hero__img">
                    <img src="assets/img/hero/hero_img4.png" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
                </div>
                <div class="hero__caption hero__caption2">
                    <h1 data-animation="fadeInLeft" data-delay=".4s">Our Projects</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Shape -->
    <div class="hero-shape ">
        <img src="assets/img/gallery/shape2.png" alt="">
    </div>
</div>
<!-- slider Area End-->
<!--? Popular Items Start -->
<div class="popular-items section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Tittle -->
                <div class="section-tittle mb-70">
                    <span>How we can help?</span>
                    <h2>We’re<span class="tittle-light">helping employers</span> get</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
        <% @customers.each do |c| %>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50" style="height:260px; width:200px">
                    <div class="popular-img" >
                    <a href="<%=c.link%>">
                    <%=image_tag c.img_url, :style => "" %>
                    </a>
                   
                    </div>
                   
                </div>
            </div>
            
        <% end %>

  
        </div>
    </div>
</div>

</main>
<%=  render "shared/footer"%>